:root {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.container {
  margin: 3rem;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading--secondary {
  font-weight: 500;
  font-size: 2rem;
}

.indiaflexContainer {
  display: flex;
}
