.cards__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 5rem;
}

.card__item {
  border: 1px solid rgba(226, 226, 226, 0.822);
  box-shadow: 0 5px 10px 2px #ccc;
  padding: 1rem 5rem;
  margin: 2rem;
  color: #fff;
  border-radius: 1rem;
  text-align: center;
}

.card__primary {
  background-color: #005082;
}

.card__secondary {
  background-color: #000839;
}

.card__tertiary {
  background-color: #ffa41b;
}

@media (max-width: 800px) {
  .cards__container {
    flex-direction: column;
    align-items: stretch;
  }
  .card__item {
    margin: 2rem;
    width: 80%;
  }
}
